@model Group5__iCLOTHINGApp.Models.UserQuery

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Query</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.queryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.queryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.queryDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.queryDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.customerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.customerName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Messages", "Index", null, new { @class = "btn btn-outline-dark" })
</p>
