@model Group5__iCLOTHINGApp.Models.Department

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Department</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.departmentID)

        <div class="form-group">
            @Html.LabelFor(model => model.departmentName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.departmentName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.departmentName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.departmentDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.TextAreaFor(model => model.departmentDescription, new { @class = "form-control", rows = "5", style = "width: 100%; max-width: 100%;"})
                @Html.ValidationMessageFor(model => model.departmentDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 my-2">
                <input type="submit" value="Save" class="btn btn-dark mx-2" />
                @Html.ActionLink("Return", "Index", new { area = "" }, new { @class = "btn btn-outline-dark" })
            </div>
        </div>
    </div>
}
